---
title: Dribbble To Codepen
---

<header>
	<h1>Dribbble to codepen </h1>
</header>
<pre>
	<code>&lt;dribbble-to-codepen data-url="https://dribbble.com/shots/3067776-Pie-Chart"></dribbble-to-codepen&gt;
	</code>
</pre>

<p data-height="800" data-theme-id="194" data-slug-hash="a7953feb96f2d7dfd2a6e511e4b66f26" data-default-tab="result" data-user="LukyVj" data-embed-version="2" data-pen-title="DribbbleToCodepen - dev" data-editable="true" class="codepen">See the Pen <a href="http://codepen.io/LukyVj/pen/a7953feb96f2d7dfd2a6e511e4b66f26/">DribbbleToCodepen - dev</a> by LukyVJ (<a href="http://codepen.io/LukyVj">@LukyVj</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>